<mat-accordion class="accordion-header" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Meu Dia</mat-panel-title>
    </mat-expansion-panel-header>

    <app-agenda-task [todos]="todosForToday"></app-agenda-task>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Amanhã</mat-panel-title>
    </mat-expansion-panel-header>

    <app-agenda-task [todos]="todosForTomorrow"></app-agenda-task>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Próximos Dias</mat-panel-title>
    </mat-expansion-panel-header>

    <app-agenda-task [todos]="todosUpcoming"></app-agenda-task>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Todas as atividades</mat-panel-title>
    </mat-expansion-panel-header>
    <app-agenda-task [todos]="todos"></app-agenda-task>
  </mat-expansion-panel>

</mat-accordion>
